<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div class="row">
      <ul class="collection with-header animated fadeInUp">
        <% if product.errors.count > 1 %>
          <li class="collection-header"><h5><%= product.errors.count %> erros impediram que o registro fosse salvo:</h5></li>
        <% else %>
          <li class="collection-header"><h5><%= product.errors.count %> erro impediu que o registro fosse salvo:</h5></li>
        <% end %>
        <% product.errors.full_messages.each do |message| %>
          <li class="collection-item valign-wrapper"><i class="material-icons">error_outline</i>&nbsp;<span> <%= message %></span></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset>
      <div class="row">
        <div class="col-12">
          <h4 class="form-section">Dados do Produto</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
          <fieldset class="form-group">
            <span class="danger">*</span>
            <%= f.label "Categoria", class: "" %>
            <%= f.collection_select(:category_id, Category.all, :id, :name, { include_blank: "" }, class: "select2 form-control", style:"width: 100%") %>
          </fieldset>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
          <fieldset class="form-group">
            <span class="danger">*</span>
            <%= f.label "Nota Fiscal", class: "" %>
            <%= f.collection_select(:category_id, Invoice.all, :id, :name, { include_blank: "" }, class: "select2 form-control", style:"width: 100%") %>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
          <fieldset class="form-group">
            <span class="danger">*</span>
            <%= f.label "Nome", class: "" %>
            <%= f.text_field :name, required: true, class: "form-control" %>
          </fieldset>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
          <fieldset class="form-group">
            <span class="danger">*</span>
            <%= f.label "Código de Barras", class: "" %>
            <%= f.text_field :bar_code, required: true, class: "form-control" %>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
          <fieldset class="form-group">
            <span class="danger">*</span>
            <%= f.label "Preço de Compra", class: "" %>
            <%= f.number_field :purchase_price, required: true, class: "form-control" %>
          </fieldset>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
          <fieldset class="form-group">
            <span class="danger">*</span>
            <%= f.label "Preço de Venda", class: "" %>
            <%= f.number_field :sale_price, required: true, class: "form-control" %>
          </fieldset>
        </div>
      </div>

    </fieldset>

<div class="row">
  <div class="col s12 right-align">
    <%= f.submit 'Salvar', :class=> "waves-effect waves-light btn-large" %>
    <%= link_to 'Voltar', products_path, class: "waves-effect waves-light btn-large blue-grey lighten-3" %>
  </div>
</div>


<% end %>
